
*{
    box-sizing: border-box;
}

.erro-geral{
    background: red;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.erro{
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.sucesso{
    background: rgb(25, 252, 5);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;

}